In [1]:
#Assignment: 4,
    #Q1


person = {
        'First_Name':'Shumais',
        'Last_Name' : 'Ghulam Qadir',
        'Age':'22',
        'City':'Karachi',
        }
person['Qualification'] = 'BS in Computer Science'
print(person)
del person['Qualification']
print(person)

{'First_Name': 'Shumais', 'Last_Name': 'Ghulam Qadir', 'Age': '22', 'City': 'Karachi', 'Qualification': 'BS in Computer Science'}
{'First_Name': 'Shumais', 'Last_Name': 'Ghulam Qadir', 'Age': '22', 'City': 'Karachi'}

In [2]:
#Q2


cities  = {
            'Karachi': {
                         'Country' : 'Pakistan.',
                         'Population': '14.91 Million.',
                         'Fact' : 'It is the Sixth largest city in the world.',
                       },
            'Tokyo': {
                         'Country' : 'Japan.',
                         'Population': '9.273 Million.',
                         'Fact':'Tokyo was formerly known as “Edo” in the 20th century. The name was changed to Tokyo in 1890 in light of the Meiji Restoration.',
                     },
            'Mumbai': {
                         'Country' : 'India.',
                         'Population': '18.41 Million.',
                         'Fact':'It is also the wealthiest city in India, and has the highest number of millionaires and billionaires among all cities in India.',
                     },
            'Istanbul': {
                         'Country' : 'Turkey.',
                         'Population': '15.07 Million.',
                         'Fact':'Istanbul is the only city in the world which is both in Europe and Asia geographicaly.',
                     },
          }


for x,y in cities.items():
    print(x+':\n')
    for i in y:
        
        print('\t'+i+' : '+cities[x][i])
    print('\n')

Karachi:

	Country : Pakistan.
	Population : 14.91 Million.
	Fact : It is the Sixth largest city in the world.


Tokyo:

	Country : Japan.
	Population : 9.273 Million.
	Fact : Tokyo was formerly known as “Edo” in the 20th century. The name was changed to Tokyo in 1890 in light of the Meiji Restoration.


Mumbai:

	Country : India.
	Population : 18.41 Million.
	Fact : It is also the wealthiest city in India, and has the highest number of millionaires and billionaires among all cities in India.


Istanbul:

	Country : Turkey.
	Population : 15.07 Million.
	Fact : Istanbul is the only city in the world which is both in Europe and Asia geographicaly.

In [4]:
#Q3

age = int(input('Please, Enter your age to find out your ticket price '))

if age < 3:
    print('There are no ticket charges for you.. Yayyyy!! :) ')
elif age >= 3 and age <=12:
    print('Sir, You have to pay 10$ ')
else:
    print('Sir, You have to pay 15$')

Please, Enter your age to find out your ticket price13
Sir, You have to pay 15$

In [5]:
#Q4

title = str(input('Enter your favourite book name '))

def favourite_book(title):
    print('My Favourite Book is '+title)
    
favourite_book(title)

Enter your favourite book name The Power Of Your Subconscious Mind
My Favourite Book is The Power Of Your Subconscious Mind

In [6]:
#Q5

import random 

val =  int(random.uniform(1,30))
turns = 3
print('\tWelcome to  Guess The Number Game, \n\t\tEnter a digit to begin')
for i in range(3):
    ans = int(input()) 
    
    if ans == val:
        print('You Won, Hurrayyyy!! :)')
        break
    else:
        turns = turns - 1
        print('Wrong Answer\n '+str(turns)+' turn(s) left\n')
print('\t\tYou Lost The Game\n \t\tCorrect Number is '+str(val))

	Welcome to  Guess The Number Game,
		Enter a digit to begin
20
Wrong Answer
 2 turn(s) left

1
Wrong Answer
 1 turn(s) left

23
Wrong Answer
 0 turn(s) left

		You Lost The Game
 		Correct Number is 18